html, body {
    background-color: rgb(239, 239, 239);
    margin: 0;
    padding: 0;
    height: 100%;

}

.navbar-heading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.home-container {
    padding-bottom: 60px;
}

.home-heading {
    padding-top: 20px;
}



