.landing-container {
  background: url('src/images/stadium-lights.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.landing-heading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.logo-name {
  font-size: 55px;
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.football-image {
  width: 72px;
  margin-bottom: 15px;
  padding: 2px;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .logo-name {
    font-size: 42px;
  }

  .football-image {
    width: 52px;
  }
}

.enter-button {
  background-color: transparent;
  border: 1px solid white;
  padding: 3px;
  color: white;
  width: 120px;
  font-size: 24px;
  font-family: "Staatliches", sans-serif;
  height: auto;
  border-radius: 1cqb;
  transition: transform 0.1s;
}


.enter-button:hover {
  transform: scale(1.01);
  font-style: bold;
}

