.results-container {
    background-color: rgb(239, 239, 239);
    padding: 5px;
    font-size: 11px;
    height: auto;
    border-radius: 5px;
    font-family: "Almarai", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
}

.results-heading-container {
    display: flex;
    justify-content: space-between;
}

.results-heading {
    font-family: "Staatliches", sans-serif;
}

.team-badge {
    width: 14px;
}


.home-team {
    text-align: right;
}

.away-team {
    text-align: left;
}