.results-container {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    font-size: 11px;
    height: auto;
    border-radius: 10px;
}

.results-heading-container {
    display: flex;
    justify-content: space-between;
}

.team-badge {
    width: 20px;
}


.home-team {
    text-align: right;
}

.away-team {
    text-align: left;
}