.team-badge {
    width: 20px;
}

.home-goal-score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.away-goal-score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.home-team {
    text-align: right;
}

.away-team {
    text-align: left;
}