.tables-container {
    background-color: rgb(212, 212, 212);
    font-size: 11px;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    bottom: 100%;
}

.tables-heading {
    text-align: left;
}